    <div class="container mt-3" id="background-gamepage">
        <div class="row justify-content-between" id="player-cards">
            <div class="col-md-3 mt-4 ml-2" id="opponent-card">
                <div class="card mb-3" id="rcorners3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img src="./assets/king2.png" class="card-img" id="king" alt="Responsive image">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Opponent username</h5>
                                <!-- <h2>{{opponent_username}}</h2> -->
                                <h6>Rank:</h6>
                                <!-- <h3>{{opponent_rank}}</h3> -->
                                <p class="card-text"> 10 </p>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ml-auto mt-4 mr-2" id="player-card">
                <div class="card mb-3" id="rcorners3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <img src="./assets/king1.png" class="card-img" id="king" alt="Responsive image">
                        </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Host username</h5>
                                    <!-- <h2>{{opponent_username}}</h2> -->
                                    <h6>Rank:</h6>
                                    <!-- <h3>{{opponent_rank}}</h3> -->
                                    <p class="card-text"> 7 </p>                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="container mt-5 mb-5" id="game-cont">
            <div class="row mb-5" id="game-board">
                <div class="container col-10">
                    <div class="row">
                        <div class="tile col" data-AN="00" data-Color="white" data-Piece="b-Rook"></div><div class="tile col" data-AN="01" data-Color="black" data-Piece="b-Pawn"></div><div class="tile col" data-AN="02" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="03" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="04" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="05" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="06" data-Color="white" data-Piece="w-Pawn"></div><div class="tile col" data-AN="07" data-Color="black" data-Piece="w-Rook"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="10" data-Color="black" data-Piece="b-Knight"></div><div class="tile col" data-AN="11" data-Color="white" data-Piece="b-Pawn"></div><div class="tile col" data-AN="12" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="13" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="14" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="15" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="16" data-Color="black" data-Piece="w-Pawn"></div><div class="tile col" data-AN="17" data-Color="white" data-Piece="w-Knight"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="20" data-Color="white" data-Piece="b-Bishop"></div><div class="tile col" data-AN="21" data-Color="black" data-Piece="b-Pawn"></div><div class="tile col" data-AN="22" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="23" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="24" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="25" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="26" data-Color="white" data-Piece="w-Pawn"></div><div class="tile col" data-AN="27" data-Color="black" data-Piece="w-Bishop"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="30" data-Color="black" data-Piece="b-Queen"></div><div class="tile col" data-AN="31" data-Color="white" data-Piece="b-Pawn"></div><div class="tile col" data-AN="32" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="33" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="34" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="35" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="36" data-Color="black" data-Piece="w-Pawn"></div><div class="tile col" data-AN="37" data-Color="white" data-Piece="w-Queen"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="40" data-Color="white" data-Piece="b-King"></div><div class="tile col" data-AN="41" data-Color="black" data-Piece="b-Pawn"></div><div class="tile col" data-AN="42" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="43" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="44" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="45" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="46" data-Color="white" data-Piece="w-Pawn"></div><div class="tile col" data-AN="47" data-Color="black" data-Piece="w-King"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="50" data-Color="black" data-Piece="b-Bishop"></div><div class="tile col" data-AN="51" data-Color="white" data-Piece="b-Pawn"></div><div class="tile col" data-AN="52" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="53" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="54" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="55" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="56" data-Color="black" data-Piece="w-Pawn"></div><div class="tile col" data-AN="57" data-Color="white" data-Piece="w-Bishop"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="60" data-Color="white" data-Piece="b-Knight"></div><div class="tile col" data-AN="61" data-Color="black" data-Piece="b-Pawn"></div><div class="tile col" data-AN="62" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="63" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="64" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="65" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="66" data-Color="white" data-Piece="w-Pawn"></div><div class="tile col" data-AN="67" data-Color="black" data-Piece="w-Knight"></div>
                    </div>
                    <div class="row">
                        <div class="tile col" data-AN="70" data-Color="black" data-Piece="b-Rook"></div><div class="tile col" data-AN="71" data-Color="white" data-Piece="b-Pawn"></div><div class="tile col" data-AN="72" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="73" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="74" data-Color="black" data-Piece="empty"></div><div class="tile col" data-AN="75" data-Color="white" data-Piece="empty"></div><div class="tile col" data-AN="76" data-Color="black" data-Piece="w-Pawn"></div><div class="tile col" data-AN="77" data-Color="white" data-Piece="w-Rook"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="game-board"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/game-board.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
